.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?auto=format&fit=crop&w=1600&q=80");
  background-size: cover;
  background-position: center;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 70px; /* navbar height */
}
